<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <li>
        <%= link_to "#" do %>
          ブラック<span>(15)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          ホワイト<span>(10)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          レッド<span>(7)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          ブルー<span>(12)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          オレンジ<span>(12)</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>