<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body">
    <ul class="list-unstyled clearfix">
      <li>
        <%= link_to "#" do %>
          S<span>(15)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          M<span>(10)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          L<span>(7)</span>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          XL<span>(12)</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>