<% provide(:title, @taxon.name) %>
<%= render "main_header", taxon_name: @taxon.name %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render "potepan/shared/category_searchbar", taxonomies: @taxonomies %>
        <%= render "potepan/shared/color_searchbar" %>
        <%= render "potepan/shared/size_searchbar" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "potepan/shared/filter_area" %>
        <div class="row">
          <%= render partial: "potepan/shared/product", collection: @products %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "potepan/shared/partners_logo" %>
