<% provide(:title, @product.name) %>
<%= render "main_header", product: @product %>
<section class="mainContent clearflex">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "thumbnail", product: @product %>
          <%= render "media_body", product: @product %>
        </div>
      </div>
    </div>
    <%= render "related_products" %>
  </div>
</section>