<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>
  <body>  
    <%= render "layouts/header" %>
    <div class="main-wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
